.best{
    width: calc(100% - 32px);
    height: 403.7px;
    
    margin: 16px 16px 16px 16px;
}
.best>.border{
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(224, 224, 226);
    border-radius: 16px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}
.best>.border>.head{
    width: 100%;
    height: 44.1px;
    display: flex;
    justify-content: center;
    
}
.best>.border>.head>.title{
    width: 199px;
    height: 44.1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.best>.border>.head>.title>svg{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.best>.border>.head>.title>p{
    font-family: iyekan3;
    font-size: 20px;
}


/* start bestsellers */
.best>.border>.bestsellerswiper1{
  width: 100%;
  height: 298px;
  margin-top: 28px;
  padding: 0 8px;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper{
  width: 100% !important;
  height: 100%;
  justify-content: space-between;
  margin-right: 16px;
  
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide{
  width: 229px !important;
  height: 86px !important;
  /* margin-bottom: 8px; */
  margin-left: 20px;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.items{
    width: 86px;
    height: 100%;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.items>.img{
  width: 86px;
  height: 86px;
  margin-left: 12px;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>span{
    line-height: 86px;
    color: rgb(25, 191, 211);
    font-family: iyekan2;
    font-size: 24px;
    margin-left: 12px;
}

.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.descript{
    width: 112.09px;
    height: 86px;
    display: flex;
    align-items: center;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.descript>p{
    width: 100%;
    height: 52.08px;
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: iyekan3;
  font-size: 12px;
  line-height: 220%;
  text-align: start;
  color: rgb(63, 64, 100);
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.descript>p::before{
    background-color: #f0f0f1;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 112.09px;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.description{
  width: 241.73px;
  height: 47.74px;
  position: relative;
 
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.description>p{
  width: 100%;
  height: 47.74px;
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.description>p>span.num{
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-family: iyekan1;
  border-radius: 50%;
 
}
.best>.border>.bestsellerswiper1>.swiper-wrapper>.swiper-slide>a>.description>p>span.text{
  font-family: iyekan3;
  display: inline-block;
  font-size: 12px;
  width: 241.73px;
  height: 39.47px;
  line-height: 200%;
  text-align: start;
  position: absolute;
  top: 0;
  right: 30px;
  color: rgb(65, 65, 65);
}
/* end bestsellers */



