*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
svg{
    vertical-align:baseline;
}
p{
    margin-bottom: 0;
}
a{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(66, 66, 66);
}
@font-face {
    font-family: iyekan;
    src: url(../fonts/cube.8f7add79.8f7add79.woff);
}
@font-face {
    font-family: iyekan1;
    src: url(../fonts/iranyekanwebbold.e298fdc6.e298fdc6.woff);
}
@font-face {
    font-family: iyekan2;
    src: url(../fonts/iranyekanwebextrabold.9346e9a2.9346e9a2.woff);
}
@font-face {
    font-family: iyekan3;
    src: url(../fonts/iranyekanwebmedium.2d4f96e5.2d4f96e5.woff);
}
@font-face {
    font-family: iyekan4;
    src: url(../fonts/iranyekanwebregular.b95439c1.b95439c1.woff);
}
@font-face {
    font-family: iyekan5;
    src: url(../fonts/iranyekanwebregular.e31c09af.woff2);
}

.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #444; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }