.banner1{
    display: none;
}

.fullbanner{
    width: 100%;
    height: 300px;
    
}
.fullbanner>.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.fullbanner>.swiper-wrapper>.swiper-slide{
    width: 100%;
    height: 100%;
}
.fullbanner>.swiper-wrapper>.swiper-slide>a{
    width: 100%;
    height: 100%;
}
.fullbanner>.swiper-wrapper>.swiper-slide>a>img{
    width: 100%;
    height: 100%;
}


.banner1{
    display: none;
}

.fullbanner{
    width: 100%;
    height: 300px;
    
}
.fullbanner>.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.fullbanner>.swiper-wrapper>.swiper-slide{
    width: 100%;
    height: 100%;
}
.fullbanner>.swiper-wrapper>.swiper-slide>a{
    width: 100%;
    height: 100%;
}
.fullbanner>.swiper-wrapper>.swiper-slide>a>img{
    width: 100%;
    height: 100%;
}

/* start banner2 */
.banner2{
    width: calc(1336px - 32px);
    height: 241.5px;
    margin-top: 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
}

.banner2>.firstrow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}
.banner2>.firstrow>a{
    width: 50%;
    height: 100%;
    display: inline-block;
    
}
.banner2>.firstrow>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.banner2>.secondrow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}
.banner2>.secondrow>a{
    width: 50%;
    height: 100%;
    display: inline-block;
    
}
.banner2>.secondrow>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
/* end banner2 */


/* start amazedbanner */
.amazedbanner{
    width: 1336px;
    height: 110px;
    margin: auto;
    margin-top: 20px;
    padding: 0 16px;
    
}
.amazedbanner>.img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: url(https://www.digikala.com/statics/img/svg/typography/freshPattern.svg) left center no-repeat;
     background-color:rgb(235, 238, 237);
}
.amazedbanner>.color{
    width: 100%;
    height: 100%;
   
}
.amazedbanner>.img>a{
    width: 100%;
    height: 100%;
    padding: 16px 40px 12px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.amazedbanner>.img>a>.rightside{
    width: 467.29px;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.amazedbanner>.img>a>.rightside>.basket{
    width: 66px;
    height: 62px;
}
.amazedbanner>.img>a>.rightside>.basket>img{
    width: 100%;
    height: 100%;
}
.amazedbanner>.img>a>.rightside>.text{
    width: 250px;
    margin: 0 20px;
}
.amazedbanner>.img>a>.rightside>.text>svg{
    width: 100%;
    height: 28px;
}
.amazedbanner>.img>a>.rightside>.off{
    width: 111.29px;
    height: 28px;
    background-color: rgb(2, 154, 73);
    border-radius: 9999px;
 align-self: center;
}
.amazedbanner>.img>a>.rightside>.off>p{
    font-family: iyekan1;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 30px;
}
.amazedbanner>.img>a>.leftside{
    margin-right: 16px;
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.amazedbanner>.img>a>.leftside>.more100{
    width: 144.66px;
    height: 50.04px;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}
.amazedbanner>.img>a>.leftside>.more100>span{
    font-family: iyekan1;
    font-size: 12px;
    color: rgb(2, 154, 73);
}
.amazedbanner>.img>a>.leftside>.amazedbannerswiper{
   width: clamp(290px, 35vw, 500px);
    height: 74px;
}
.amazedbanner>.img>a>.leftside>.amazedbannerswiper>.swiper-wrapper{
    width: 100%;
    height: 100%;
    gap: 8px;
}
.amazedbanner>.img>a>.leftside>.amazedbannerswiper>.swiper-wrapper>.swiper-slide{
    width: 74px !important;
    height: 74px;
    
}
.amazedbanner>.img>a>.leftside>.amazedbannerswiper>.swiper-wrapper>.swiper-slide>.img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 8px;
   
}
.amazedbanner>.img>a>.leftside>.amazedbannerswiper>.swiper-wrapper>.swiper-slide>.img::after{
    content: "۴۴٪";
    display: block;
    width: 34px;
    height: 20px;
    background-color: #d32f2f;
    color: white;
    border-radius: 16px;
    position: absolute;
    top: 70%;
    left: 60%;
    font-family: iyekan1;
    font-size: 12px;
    line-height: 20px;
}
.amazedbanner>.img>a>.leftside>.amazedbannerswiper>.swiper-wrapper>.swiper-slide>.img>img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    padding: 6px;
}
/* end amazedbanner */

/* start doublebanner */
.doublebanner{
  width: 100%;
  height: clamp(260px, 80vw, 825px);
  display: flex;
  flex-direction: column;
  padding:20px 16px 0 16px;
  gap: 8px;
}
.doublebanner>.firstimg{
  width: 100%;
  height: 48%;
}
.doublebanner>.firstimg>a{
  display: flex;
  width: 100%;
  height: 100%;
}
.doublebanner>.firstimg>a>img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
/* end doublebanner */


/* start doublebanner1 */
.doublebanner1{
  width: 1336px;
  height: 195.44px;
  margin: auto;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  padding:0 16px 0 16px;
  gap: 8px;
}
.doublebanner1>.firstimg{
  width: 100%;
  height: 100%;
}
.doublebanner1>.firstimg>a{
  display: flex;
  width: 100%;
  height: 100%;
}
.doublebanner1>.firstimg>a>img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
/* end doublebanner1 */


.singlebanner{
    display: none;
}

.doublebanner{
    display: none;
}