/* start categories */
.categories{
    width: 100%;
    height: 464.1px;
    margin-top: 16px;
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories>.title{
    width: 100%;
    height: 44.1px;
    margin-bottom: 36px;
}
.categories>.title>div{
    width: 100%;
    height: 100%;
  
}
.categories>.title>div>h3{
    width: 100%;
    height: 100%;
    font-family: iyekan3;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}
.categories>.title>div>h5{
    display: none;
}
.categories>.categorieswiper{
    width:100%;
    height: 328px;

}
.categories>.categorieswiper>.swiper-wrapper{
    width: 100% !important;
    height: 100%;
    column-gap: 16px;
    justify-content: space-between;
    gap: 0px;
}
.categories>.categorieswiper>.swiper-wrapper>.swiper-slide{
    width: 152.77px !important;
    height: 160px !important;
}
.categories>.categorieswiper>.swiper-wrapper>.swiper-slide>a{
    width: 132px;
    height: 134.04px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.categories>.categorieswiper>.swiper-wrapper>.swiper-slide>a>.img{
    width: 100px;
    height: 100px;
    
}
.categories>.categorieswiper>.swiper-wrapper>.swiper-slide>a>.img>img{
    width: 100%;
    height: 100%;
}
.categories>.categorieswiper>.swiper-wrapper>.swiper-slide>a>p{
    height: 26.04px;
    font-family: iyekan3;
    font-size: 10px;
    margin-top: 8px;
    color: black;
}

/* end categories */