/* start offbanner */
.offbanner{
  width: 100%;
  position: relative;
  
}
.offbanner>a{
  display: flex;
  width: 100%;
  padding: 16px 16px 0 16px;
}
.offbanner>a>img{
  width: 100%;
  border-radius: 999px;
}

.offbanner>.countdown{
  width: 109.85px;
  height: 33.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 20px;
  padding-left: 12px;
}
.offbanner>.countdown>span.circle{
  width: 28px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  font-family: iyekan1;
  font-size: 14px;
  padding: 0 4px 4px 4px;
}
.offbanner>.countdown>span.colon{
  color: white;
}
/* end offbanner */